<% content_for(:title, "About") %>
<h1>About</h1>

<div id="about-paragraph">
  <p>This website acts as a Reddit and Twitter clone mashed together. It was made using Ruby on Rails to learn the basics of both front and back-end web development.</p>

  <p>I used <a href="https://www.railstutorial.org/book/">Michael Hartl's Tutorial</a> as a guide to help me through the process.</p>

  <p>Whenever I want to learn something new with Rails, I use this website as a playground.</p>
</div>