<% content_for(:title, "About") %>
<h1>About</h1>

<p>
  <ul id="about-paragraph">
    <li>This website acts as a Twitter clone, and was created to learn the basics of web development.</li>

    <li>The title of this website is a portmanteau of the words <span id='wr'>wr</span>ite and <span id='any'>any</span>thing.</li>

    <li>This website was made using Ruby on Rails.</li>

    <li>I used <a href="https://www.railstutorial.org/book/">Michael Hartl's Tutorial</a> as a guide to help me through the process.</li>

    <li>Whenever I want to learn something new with Rails, I use this website as a playground.</li>
  </ul>
</p>