<% if logged_in? %>
  <%= render 'shared/home_page_when_logged_in' %>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to <span id='logo2'>wr<span id='any'>any</span></span>!</h1>
    <h3 style="color:#555">write anything</h3>
    <h2>It's clever, right?</h2>
    
    <%= simple_format link_to "Sign up now, or whatever.\nNo email required!", signup_path, class: "btn btn-primary" %>
  </div>
<% end %>