<div class="center jumbotron">
  <h1>This is a Header!</h1>
  <h2>Try and find a better website. I bet you can't.</h2>
  
  <%= link_to "Sign up or whatever.", signup_path, class: "btn btn-primary" %>
</div>